.newPromptButton {
  opacity: 0;
  pointer-events: none;
}
.newPromptButton.active{
  opacity: 1;
  pointer-events: all;
}

#promptImage {
  opacity: 0;
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
  display: block;
  @media screen and (min-width:768px){
   max-height: 300px; 
  }
  @media screen and (min-width:320px){
    max-height: none;
  }
  &.active {
    opacity: 1;
    // max-height: 0 !important;
  }
}


