@import url('plugin/flexboxgrid.css');


html, body {box-sizing: border-box; margin: 0; padding: 0;}
*,*::before, *::after {box-sizing: inherit;}

.newPromptButton {
  opacity: 0;
}
.newPromptButton.active{
  opacity: 1;
}
